.mainMenuBar {
    -fx-background-color: gainsboro;
    -fx-text-fill: red;
}

.gameMenu {
    -fx-background-color: aqua;
    -fx-text-fill: white;
}

.mainRoot {
    -fx-background-color: transparent;
}

.root {
    -fx-background-color: #070338;
    -fx-text-fill: white;
}

#weekLabel, #yearLabel, #weekText, #yearText, #orgLabel, #moneyLabel {
    -fx-text-fill: white;
}

#weekBox, #yearBox {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

